#buttonSettings {
	margin-left:10px;
	margin-right:10px;
}
.group-header {
	background-color:#6c6c6c;
	color:#ffffff;
	font-weight:bold;
	padding:3px 7px;
}
.game-total {
	text-align:center;
	height:45px;
	padding:13px 0;
}
.game-type {
	font-weight:bold;
	font-size:18px;
	display:block;
}
.game-info {
	display:block;
}
.score-end {
	border-bottom:solid 1px #e7e7e7;
}
.score-end:hover {
	background-color:#e7e7e7;
	cursor:pointer;
}
