.scorecard {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.scorecard h5 {
	font-weight: bold;
}
.scorecard .scoresheet thead th {
	border-bottom:solid 2px black;
}
.scorecard .scoresheet td {
	text-align:center;
}
.scorecard .scoresheet tbody td.hits,
.scorecard .scoresheet tbody td.end-score,
.scorecard .scoresheet tbody td.running-total {
	background-color:#94b8e3;
}
.scorecard .scoresheet tbody td.hits {
	border-left:solid 2px black;
}
.scorecard .scoresheet tfoot td {
	border-top:solid 2px black;
}
.scorecard .scoresheet tfoot td.left {
	text-align:left;
}
.scorecard .scoresheet tfoot td.right {
	text-align:right;
}
.scorecard .scoresheet tfoot td.right div, 
.scorecard .scoresheet tfoot td.right p {
	float:right;
}
.scorecard .scoresheet tfoot td.right div {
	background-color:#94b8e3;
	padding:5px 10px;
	margin-right:10px;
}
.scorecard .scoresheet tfoot p {
	margin:0;
	padding:5px 0;
}
.gold {
	text-align:center;
	background-color:yellow;
	color:black;
}
.red {
	text-align:center;
	background-color:red;
	color:white;
}
.blue {
	text-align:center;
	background-color:blue;
	color:white;
}
.black {
	text-align:center;
	background-color:black;
	color:white;
}
.white {
	text-align:center;
	background-color:white;
	color:black;
}

#scorepadContainer {
	position:fixed;
	left:0;
	bottom:-157px;
	overflow:hidden;
	height:157px;
	width:100%;
	border:solid 1px black;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.scorepad {
	background-color:#CCC;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
}
.scorepad [class^="col-"] div {
	padding:1px;
}

.scoresheet tbody tr:hover td {
	background-color:#e7e7e7;
	cursor:pointer;	
}

#main-content .list-group-item {
	padding:0;
}
#main-content .scoresheet {
	margin:0;
	border:none;
}
#main-content table.scoresheet>thead>tr>th,
#main-content table.scoresheet>tfoot>tr>td {
	border-bottom:none;
}
#main-content table.scoresheet>thead>tr>th:first-child,
#main-content table.scoresheet>tbody>tr>td:first-child,
#main-content table.scoresheet>tfoot>tr>td:first-child
 {
	border-left:none;
}
#main-content table.scoresheet>thead>tr>th:last-child,
#main-content table.scoresheet>tbody>tr>td:last-child,
#main-content table.scoresheet>tfoot>tr>td:last-child {
	border-right:none;
}